/*! normalize.css v3.0.1 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.lb-loader,.lightbox{text-align:center;line-height:0}body:after{content:url(../images/close.png) url(../images/loading.gif) url(../images/prev.png) url(../images/next.png);display:none}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;border-radius:3px}.lightbox a img{border:none}.lb-outerContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;border-radius:4px}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-container{padding:4px}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular.eot");
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight.eot");
  src: url("../fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight.woff") format("woff"), url("../fonts/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoSemibold";
  src: url('../fonts/LatoSemibold.eot?') format('eot'), url('../fonts/LatoSemibold.woff') format('woff'), url('../fonts/LatoSemibold.ttf') format('truetype');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
a {
  outline: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-weight: 400;
}
small {
  font-size: 12px;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'LatoLight', 'Open Sans Light', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.container.small {
  width: 1000px;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  padding: 45px 35px;
  text-align: center;
  background: #fff;
  border: 2px solid #35c671;
  border-radius: 37px;
}
.modal form {
  display: block;
  background: #fff;
  float: none;
}
.modal img {
  display: block;
  margin: -45px -35px 25px;
  width: 100%;
  width: calc(100% + 70px);
  width: -webkit-calc(100% + 70px);
  width: -moz-calc(100% + 70px);
  width: -o-calc(100% + 70px);
  width: -ms-calc(100% + 70px);
  border-radius: 37px 37px 0 0;
}
.modal p,
.modal li {
  line-height: 25px;
}
.modal input[type=text]::-webkit-input-placeholder,
.modal textarea::-webkit-input-placeholder {
  color: #000;
}
.modal input[type=text]:-moz-placeholder,
.modal textarea:-moz-placeholder {
  color: #000;
}
.modal input[type=text]::-moz-placeholder,
.modal textarea::-moz-placeholder {
  color: #000;
}
.modal input[type=text]:-ms-input-placeholder,
.modal textarea:-ms-input-placeholder {
  color: #000;
}
.modal-service {
  text-align: left;
}
#callback,
#review {
  float: none;
}
#thanks p {
  font-size: 18px;
}
.mfp-content {
  transform: translateY(-800px);
  transition: all 0.25s ease;
}
.mfp-ready .mfp-content {
  transform: translateY(0);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  padding: 25px 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background 0.3s ease;
}
header.dark {
  background: rgba(0, 0, 0, 0.6);
}
.header-menu {
  text-align: center;
}
.header-menu ul li {
  display: inline-block;
  margin-right: 12px;
  font-size: 20px;
  vertical-align: top;
}
.header-menu ul li:after {
  content: '/';
  margin-left: 16px;
  color: #35c671;
}
.header-menu ul li:last-child {
  margin-right: 0;
}
.header-menu ul li:last-child:after {
  content: none;
}
.header-menu ul a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-menu ul a:hover {
  border-color: #fff;
}
.button {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 25px;
  transition: all 0.15s ease-in;
}
.button:active {
  top: 1px;
}
.promo {
  padding: 120px 0 105px;
  color: #fff;
  background: url('../img/bg-promo.jpg') no-repeat center top;
  background-size: cover;
}
.promo-menu {
  display: none;
}
.promo-email {
  margin-top: 5px;
  margin-left: 120px;
  padding-left: 30px;
  font-size: 25px;
  color: #fff;
  background: url('../img/icon-email-white.png') no-repeat left center;
  text-decoration: none;
}
.promo-callback {
  margin-top: 5px;
  text-align: right;
}
.promo-phone {
  display: block;
  margin-top: 3px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 22px;
  padding-left: 25px;
  color: #fff;
  background: url('../img/icon-phone-white.png') no-repeat left center;
  text-decoration: none;
}
.promo-button {
  margin-top: 7px;
  padding: 4px 15px;
  color: #fff;
}
.promo-button:hover {
  background: #fff;
  color: #35c671;
  border-color: #fff;
}
.promo-logo,
.promo-email,
.promo-callback {
  position: relative;
  top: -50px;
  opacity: 0;
  transition: all 0.5s ease;
}
.promo-logo.visible,
.promo-email.visible,
.promo-callback.visible {
  top: 0;
  opacity: 1;
}
.promo-content {
  margin-top: 40px;
}
.promo-text,
.promo-form {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}
.promo-text {
  padding-top: 10px;
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.5s ease;
}
.promo-text.visible {
  bottom: 0;
  opacity: 1;
}
.promo-title {
  font-family: 'LatoRegular', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}
.promo-title span {
  color: #35c671;
}
.promo-subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
}
.promo-sale,
.promo-legal {
  margin-top: 35px;
  position: relative;
  transform: scale(0);
  transition: all 0.7s ease;
  transition-delay: 0.7s;
}
.promo-sale.visible,
.promo-legal.visible {
  transform: scale(1);
}
.promo-sale img,
.promo-legal img,
.promo-sale figcaption,
.promo-legal figcaption {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.promo-sale figcaption,
.promo-legal figcaption {
  font-family: 'LatoRegular', 'Open Sans Bold', sans-serif;
  font-size: 20px;
}
.promo-legal {
  transition-delay: 1.3s;
}
.promo-sale figcaption {
  padding-left: 31px;
}
.promo-legal figcaption {
  padding-left: 20px;
}
.promo-form {
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.5s ease;
}
.promo-form.visible {
  bottom: 0;
  opacity: 1;
}
.promo-form form {
  background: rgba(0, 0, 0, 0.3);
}
.promo-form input[type=text]::-webkit-input-placeholder {
  color: #fff;
}
.promo-form input[type=text]:-moz-placeholder {
  color: #fff;
}
.promo-form input[type=text]::-moz-placeholder {
  color: #fff;
}
.promo-form input[type=text]:-ms-input-placeholder {
  color: #fff;
}
.form-title {
  display: block;
  margin-bottom: 30px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}
form {
  float: right;
  width: 475px;
  padding: 50px 35px 45px;
  border-radius: 37px;
}
form input[type=text],
form input[type=number],
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 25px 35px;
  background: transparent;
  border: 1px solid;
  border-radius: 35px;
}
form textarea {
  height: 190px;
  resize: none;
}
form input[type=submit] {
  display: block;
  width: 100%;
  padding: 23px 0 22px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;
  background: #35c671;
  border-color: #35c671;
  border-radius: 35px;
}
.section-title {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}
.section-title + hr {
  display: block;
  max-width: 170px;
  height: 1px;
  margin: 5px auto 0;
  border: none;
}
.advantages {
  padding: 65px 0;
  text-align: center;
}
.advantages hr {
  background: #35c671;
}
.advantages-list {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
}
.advantages-list li {
  display: inline-block;
  width: 16.6666667%;
  width: calc(100% / 6);
  width: -moz-calc(100% / 6);
  width: -o-calc(100% / 6);
  width: -ms-calc(100% / 6);
  margin-right: -4px;
  vertical-align: top;
  opacity: 0;
}
.advantages-list strong {
  display: block;
  margin-top: 15px;
  font-family: 'LatoLight', 'Open Sans Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.advantages-call {
  max-width: 770px;
  margin: 70px auto 0;
  padding: 0 40px;
  font-size: 25px;
  background: url('../img/bg-call.png') no-repeat left center, url('../img/bg-call.png') no-repeat right center;
}
.services {
  padding: 65px 0 45px;
  color: #fff;
  background: url('../img/bg-services.jpg') no-repeat center top;
  background-size: cover;
}
.services hr {
  background: #fff;
}
.services-list {
  width: 920px;
  margin: 30px auto 0;
}
.services-list th {
  padding: 25px 50px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 21px;
  text-align: left;
  background: #35c671;
}
.services-list th:first-child {
  border-top-left-radius: 37px;
}
.services-list th:last-child {
  border-top-right-radius: 37px;
}
.services-list td {
  padding: 18px 50px 24px;
  font-size: 19px;
}
.services-list a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.services-list a:hover {
  border-color: #fff;
}
.services-list tr:nth-child(odd) td {
  background: rgba(236, 240, 241, 0.3);
}
.services-list tr:nth-child(even) td {
  background: rgba(236, 240, 241, 0.1);
}
.services-list tr:last-child td:first-child {
  border-bottom-left-radius: 37px;
}
.services-list tr:last-child td:last-child {
  border-bottom-right-radius: 37px;
}
.steps {
  padding: 65px 0;
  text-align: center;
}
.steps hr {
  background: #35c671;
}
.steps-list {
  margin-top: 70px;
  padding: 0 125px;
}
.step,
.step-arrow {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  transform: scale(0);
}
.step {
  width: 175px;
}
.step strong {
  display: block;
  margin-top: 7px;
  font-family: 'LatoLight', 'Open Sans Light', sans-serif;
  font-weight: 300;
}
.step-arrow {
  width: 25px;
  height: 36px;
  margin: 20px 20px 0;
  background: url('../img/icon-arrow.png') no-repeat center center;
}
.step-arrow.reverse {
  transform: rotate(180deg) scale(0);
}
.step-arrow.bottom {
  margin: 20px 0;
  margin-right: 67px;
  float: right;
  transform: rotate(90deg) scale(0);
}
.step-button {
  margin-top: 7px;
  padding: 6px 15px;
  color: #fff;
  background: #35c671;
  border-color: #35c671;
  box-shadow: 0 0 7px 2px rgba(48, 178, 102, 0.25);
}
.step-button:hover {
  background: #fff;
  color: #35c671;
}
.calc {
  padding: 65px 0 80px;
  color: #fff;
  background: url('../img/bg-calc.jpg') no-repeat center top;
  background-size: cover;
}
.calc hr {
  background: #fff;
}
.calc-body {
  width: 1000px;
  margin: 40px auto 0;
  padding: 0 0 75px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 27px;
}
.calc-body form {
  float: none;
  width: auto;
  padding: 0;
  border-radius: 0;
}
.calc-body input[type=text]::-webkit-input-placeholder,
.calc-body input[type=number]::-webkit-input-placeholder {
  color: #fff;
}
.calc-body input[type=text]:-moz-placeholder,
.calc-body input[type=number]:-moz-placeholder {
  color: #fff;
}
.calc-body input[type=text]::-moz-placeholder,
.calc-body input[type=number]::-moz-placeholder {
  color: #fff;
}
.calc-body input[type=text]:-ms-input-placeholder,
.calc-body input[type=number]:-ms-input-placeholder {
  color: #fff;
}
.calc-body input[type=number]::-webkit-outer-spin-button,
.calc-body input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calc-tab {
  display: inline-block;
  width: 33.333333333%;
  margin-right: -4px;
  padding: 25px 0;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 21px;
  text-align: center;
  background: #258a4f;
  cursor: pointer;
  vertical-align: top;
}
.calc-tab:hover {
  opacity: 0.9;
}
.calc-tab.active {
  font-family: 'LatoLight', 'Open Sans Light', sans-serif;
  background: #35c671;
}
.calc-tab:nth-of-type(1) {
  border-radius: 27px 0 0 0;
}
.calc-tab:nth-of-type(3) {
  border-radius: 0 27px 0 0;
}
.calc-params {
  padding: 35px 65px 40px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  background: rgba(255, 255, 255, 0.08);
}
.calc-params-col {
  display: inline-block;
  width: 33.333333333%;
  margin-right: -4px;
  vertical-align: top;
}
.calc-params-col.changable {
  display: none;
}
.calc-params-col.changable.active {
  display: inline-block;
}
.calc-params-title {
  margin: 0 0 20px;
  font-size: 24px;
}
.calc-params-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calc-params-list li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
  vertical-align: middle;
  cursor: pointer;
}
.calc-params-list li:last-child {
  margin-bottom: 0;
}
.calc-params-list li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #fff;
}
.calc-params-list li.selected:before {
  background: #fff;
}
[name=sizeHeight],
[name=sizeDepth],
[name=sizeWidth] {
  margin-bottom: 10px !important;
  padding: 8px 18px !important;
  border-radius: 15px !important;
}
[name=sizeHeight]:last-child,
[name=sizeDepth]:last-child,
[name=sizeWidth]:last-child {
  margin-bottom: 0 !important;
}
.calc-params-technic {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.calc-params-technic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #fff;
}
.calc-params-technic.selected:before {
  background: #fff;
}
.calc-form {
  text-align: center;
}
.calc-form input[type=text] {
  display: inline-block;
  width: 335px;
  margin: 0 10px;
  vertical-align: top;
}
.calc-form input[type=submit] {
  max-width: 405px;
  margin: 20px auto 0;
}
.reviews {
  padding: 65px 0 80px;
}
.reviews hr {
  background: #35c671;
}
.reviews .slider-prev,
.reviews .slider-next {
  background: url('../img/icon-arrow-black.png') no-repeat center center;
  opacity: 0.3;
}
.reviews .slider-prev:hover,
.reviews .slider-next:hover {
  opacity: 0.5;
}
.reviews-slider {
  position: relative;
  margin-top: 30px;
}
.reviews-slide p {
  max-width: 1000px;
  margin: 0 auto;
  line-height: 25px;
  text-align: center;
}
.reviews-slide strong {
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
}
.reviews-button {
  display: block;
  max-width: 405px;
  margin: 35px auto 0;
  padding: 23px 0 22px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: #35c671;
  border-color: #35c671;
  border-radius: 35px;
}
.portfolio {
  padding: 65px 0;
  color: #fff;
  background: url('../img/bg-portfolio.jpg') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
.portfolio hr {
  background: #fff;
}
.portfolio-slider {
  margin-top: 40px;
}
.portfolio-slide {
  text-align: center;
}
.portfolio-slide a {
  display: block;
  float: left;
  width: calc(100% / 7);
  width: -webkit-calc(100% / 7);
  width: -moz-calc(100% / 7);
  width: -o-calc(100% / 7);
  width: -ms-calc(100% / 7);
  height: 152px;
  padding: 0 6px 12px;
  overflow: hidden;
}
.portfolio-slide a img {
  display: block;
  width: 100%;
  height: auto;
}
.slider-prev,
.slider-next {
  position: absolute;
  width: 20px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  background: url('../img/icon-arrow-white.png') no-repeat center center;
  cursor: pointer;
}
.slider-prev:hover,
.slider-next:hover {
  opacity: 0.8;
}
.slider-prev {
  left: -60px;
}
.slider-next {
  right: -60px;
  transform: rotate(180deg);
}
.slick-dots {
  margin: 43px 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.slick-dots button {
  display: none;
}
.slick-dots li {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 6px;
  background: #fff;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background: #35c671;
}
.slick-slide {
  outline: none;
}
.contacts {
  padding: 65px 0;
}
.contacts hr {
  background: #35c671;
}
.contacts-content {
  margin-top: 60px;
}
.contacts-text,
.contacts-form {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}
.contacts-text {
  padding-top: 75px;
  font-size: 25px;
  position: relative;
  left: -150px;
  opacity: 0;
  transition: all 0.8s ease;
}
.contacts-text.visible {
  left: 0;
  opacity: 1;
}
.contacts-text p {
  margin: 18px 0;
  padding-left: 40px;
}
.contacts-text a {
  color: #000;
  text-decoration: none;
}
.contacts-phone {
  background: url('../img/icon-phone-green.png') no-repeat top 5px left;
}
.contacts-phone a {
  display: block;
  margin-bottom: 18px;
}
.contacts-email {
  display: inline-block;
  padding-left: 40px;
  background: url('../img/icon-email-green.png') no-repeat left center;
}
.contacts-address {
  background: url('../img/icon-location.png') no-repeat left center;
}
.contacts-form {
  position: relative;
  right: -150px;
  opacity: 0;
  transition: all 0.8s ease;
}
.contacts-form.visible {
  right: 0;
  opacity: 1;
}
.contacts-form form {
  border: 2px solid #35c671;
}
.contacts-form input[type=text]::-webkit-input-placeholder {
  color: #000;
}
.contacts-form input[type=text]:-moz-placeholder {
  color: #000;
}
.contacts-form input[type=text]::-moz-placeholder {
  color: #000;
}
.contacts-form input[type=text]:-ms-input-placeholder {
  color: #000;
}
footer {
  text-align: right;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }
  .advantages-list li {
    padding: 0 15px;
  }
  .steps-list {
    padding: 0 25px;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    width: 1000px;
  }
  .steps-list {
    padding: 0;
  }
  .step-arrow {
    margin: 20px 0 0;
  }
  .step-arrow.bottom {
    margin: 20px 76px 20px 0;
  }
}
@media screen and (max-width: 1025px) {
  .container,
  .container.small {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  br {
    display: none;
  }
  .animate {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    transform: none !important;
    opacity: 1 !important;
  }
  .to-left,
  .to-right {
    float: none;
  }
  header {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-menu ul li {
    display: block;
    margin: 0 0 10px;
    padding: 5px 0;
    font-size: 18px;
  }
  .header-menu ul li:after {
    content: none;
  }
  .header-menu ul li:last-child {
    margin: 0 0 10px;
  }
  main > section {
    padding: 25px 0 !important;
  }
  .promo-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    display: block;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .promo-menu ul {
    height: 0;
    overflow: hidden;
  }
  .promo-menu.visible {
    height: auto;
    background: rgba(0, 0, 0, 0.7);
  }
  .promo-menu.visible ul {
    height: auto;
    margin-top: 15px;
  }
  .promo-menu-title {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .promo-menu-title img {
    width: 23px;
    margin-right: 5px;
    vertical-align: top;
  }
  .button {
    display: block;
    width: 100%;
    border-radius: 25px;
  }
  .promo {
    text-align: center;
  }
  .promo-logo {
    display: block;
    margin: 64px auto 10px;
  }
  .promo-email,
  .promo-phone {
    display: inline-block;
    margin: 5px 0;
  }
  .promo-email {
    margin-left: 0;
    font-size: 22px;
  }
  .promo-callback {
    text-align: center;
  }
  .promo-button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 18px;
  }
  .promo-content {
    margin-top: 15px;
  }
  .promo-text,
  .promo-form {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .promo-title {
    font-size: 35px;
  }
  .promo-subtitle {
    line-height: normal;
  }
  .promo-legal,
  .promo-sale {
    margin-top: 20px;
  }
  .promo-legal img,
  .promo-sale img,
  .promo-legal figcaption,
  .promo-sale figcaption {
    display: block;
    margin: 0 auto;
  }
  .promo-legal figcaption,
  .promo-sale figcaption {
    padding-top: 5px;
    padding-left: 0;
  }
  form {
    float: none;
    width: 100%;
    padding: 25px 0;
    border-radius: 20px;
  }
  form .form-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  form input[type=text] {
    padding: 15px;
  }
  form input[type=submit] {
    padding: 14px 15px 13px;
    font-size: 18px;
  }
  .promo-form {
    margin-top: 25px;
  }
  .promo-form form {
    background: none;
  }
  .section-title {
    font-size: 30px;
  }
  .advantages-list li {
    display: block;
    width: 100% !important;
    margin: 0 0 25px;
    padding: 0;
    opacity: 1 !important;
  }
  .advantages-list li strong {
    margin-top: 5px;
  }
  .advantages-list li:last-child {
    margin-bottom: 0;
  }
  .advantages-call {
    margin-top: 50px;
    padding: 0;
    font-size: 20px;
    background: none;
  }
  .services-list {
    width: 100%;
    margin: 50px auto 0;
  }
  .services-list th {
    padding: 20px 25px;
    font-size: 18px;
  }
  .services-list th:first-child {
    padding: 20px 25px 10px;
    border-top-right-radius: 37px;
  }
  .services-list th:last-child {
    padding: 10px 25px 20px;
    border-radius: 0;
  }
  .services-list td {
    padding: 18px 25px;
    font-size: 16px;
  }
  .services-list td a {
    border-bottom: 1px solid #fff;
  }
  .services-list th,
  .services-list td {
    display: block;
    width: 100%;
  }
  .services-list tr td:first-child {
    padding-bottom: 9px;
  }
  .services-list tr td:last-child {
    padding-top: 9px;
  }
  .services-list tr:last-child td:first-child {
    border-radius: 0;
  }
  .services-list tr:last-child td:last-child {
    border-bottom-left-radius: 37px;
  }
  .steps-list {
    margin-top: 50px;
  }
  .step-arrow,
  .step-arrow.reverse,
  .step-arrow.bottom {
    margin: 20px auto;
    float: none;
    transform: rotate(90deg) scale(1) !important;
  }
  .step {
    display: block;
    transform: scale(1) !important;
    width: 100%;
    margin-right: 0;
  }
  .step strong {
    margin-top: 0;
  }
  .step-button {
    padding: 10px 15px;
    font-size: 18px;
  }
  .steps-list-bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
  }
  .calc-body {
    width: 100%;
    padding: 0;
  }
  .calc-tab {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-radius: 0 !important;
  }
  .calc-tab:nth-of-type(1) {
    border-radius: 27px 27px 0 0 !important;
  }
  .calc-params {
    padding: 20px;
  }
  .calc-params-col {
    display: block;
    width: 100%;
    margin: 0 0 23px;
  }
  .calc-params-col:last-child {
    margin-bottom: 0;
  }
  .calc-params-col.changable {
    display: none;
  }
  .calc-params-col.changable.active {
    display: block;
  }
  .calc-form {
    padding: 20px 15px;
  }
  .calc-form input[type=text] {
    display: block;
    width: 100%;
    margin: 0 0 20px;
  }
  .calc-form .form-title {
    margin: 0 0 15px;
  }
  .portfolio-slider {
    margin-top: 50px;
  }
  .portfolio-slide a {
    width: calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: -ms-calc(100% / 3);
    height: 57px;
    padding: 0;
    margin-bottom: 0;
  }
  .portfolio-slide a img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .slick-dots {
    margin: 19px 0 0;
  }
  .slick-dots li {
    margin: 6px;
  }
  .slider-prev,
  .slider-next {
    display: none !important;
  }
  .contacts-content {
    margin-top: 50px;
  }
  .contacts-text,
  .contacts-form {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .contacts-text {
    padding-top: 0;
    font-size: 19px;
    text-align: center;
  }
  .contacts-text p {
    margin: 15px 0;
    padding-left: 0;
  }
  .contacts-text p,
  .contacts-text a {
    background: none;
  }
  .contacts-phone a {
    margin-bottom: 15px;
  }
  .contacts-email {
    display: block;
    padding-left: 0;
  }
  .contacts-form form {
    padding-bottom: 0;
    border: none;
  }
  footer {
    text-align: center;
    padding-top: 35px;
  }
  footer img {
    width: 94px;
  }
  .modal {
    padding: 30px 15px;
    border-radius: 25px;
  }
  .modal img {
    margin: -30px -15px 25px;
    width: calc(100% + 30px);
    width: -webkit-calc(100% + 30px);
    width: -moz-calc(100% + 30px);
    width: -o-calc(100% + 30px);
    width: -ms-calc(100% + 30px);
    border-radius: 25px 25px 0 0;
  }
}
