@media screen and (max-width: 1440px) {

    .container {
        width: 1200px;
    }

    .advantages-list {

        li {
            padding: 0 15px;
        }
    }

    .steps-list {
        padding: 0 25px;
    }
}

@media screen and (max-width: 1220px) {

    .container {
        width: 1000px;
    }

    .steps-list {
        padding: 0;
    }

    .step-arrow {
        margin: 20px 0 0;

        &.bottom {
            margin: 20px 76px 20px 0;
        }
    }
}

@media screen and (max-width: 1025px) {

    .container,
    .container.small {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    br {
        display: none;
    }

    .animate {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        transform: none !important;
        opacity: 1 !important;
    }

    .to-left,
    .to-right {
        float: none;
    }

    header {
        display: none;
    }

    .header-menu {
        display: none;

        ul {

            li {
                display: block;
                margin: 0 0 10px;
                padding: 5px 0;
                font-size: 18px;

                &:after {
                    content: none;
                }
                &:last-child {
                    margin: 0 0 10px;
                }
            }
        }
    }

    main > section {
        padding: 25px 0 !important;
    }

    .promo-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 54px;
        display: block;
        //margin-bottom: 15px;
        padding: 15px 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;

        ul {
            height: 0;
            overflow: hidden;
        }

        &.visible {
            height: auto;
            background: rgba(0, 0, 0, 0.7);

            ul {
                height: auto;
                margin-top: 15px;
            }
        }
    }

    .promo-menu-title {
        display: block;
        font-size: 20px;
        cursor: pointer;

        img {
            width: 23px;
            margin-right: 5px;
            vertical-align: top;
        }
    }

    .button {
        display: block;
        width: 100%;
        border-radius: 25px;
    }

    .promo {
        text-align: center;
    }

    .promo-logo {
        display: block;
        margin: 64px auto 10px;
    }

    .promo-email,
    .promo-phone {
        display: inline-block;
        margin: 5px 0;
    }

    .promo-email {
        margin-left: 0;
        font-size: 22px;
    }

    .promo-callback {
        text-align: center;
    }

    .promo-button {
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 18px;
    }

    .promo-content {
        margin-top: 15px;
    }

    .promo-text,
    .promo-form {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .promo-title {
        font-size: 35px;
    }

    .promo-subtitle {
        line-height: normal;
    }

    .promo-legal,
    .promo-sale {
        margin-top: 20px;

        img,
        figcaption {
            display: block;
            margin: 0 auto;
        }

        figcaption {
            padding-top: 5px;
            padding-left: 0;
        }
    }

    form {
        float: none;
        width: 100%;
        padding: 25px 0;
        border-radius: 20px;

        .form-title {
            margin-bottom: 15px;
            font-size: 20px;
        }

        input[type=text] {
            padding: 15px;
        }

        input[type=submit] {
            padding: 14px 15px 13px;
            font-size: 18px;
        }
    }

    .promo-form {
        margin-top: 25px;

        form {
            background: none;
        }
    }

    .section-title {
        font-size: 30px;
    }

    .advantages-list {

        li {
            display: block;
            width: 100% !important;
            margin: 0 0 25px;
            padding: 0;
            opacity: 1 !important;

            strong {
                margin-top: 5px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .advantages-call {
        margin-top: 50px;
        padding: 0;
        font-size: 20px;
        background: none;
    }

    // .table-wrapper {
    //     width: 100%;
    //     overflow-x: scroll;
    // }

    .services-list {
        width: 100%;
        margin: 50px auto 0;

        th {
            padding: 20px 25px;
            font-size: 18px;
        }

        th:first-child {
            padding: 20px 25px 10px;
            border-top-right-radius: 37px;
        }

        th:last-child {
            padding: 10px 25px 20px;
            border-radius: 0;
        }

        td {
            padding: 18px 25px;
            font-size: 16px;

            a {
                border-bottom: 1px solid #fff;
            }
        }

        th, td {
            display: block;
            width: 100%;
        }

        tr {

            td:first-child {
                padding-bottom: 9px;
            }

            td:last-child {
                padding-top: 9px;
            }
        }

        tr:last-child {

            td:first-child {
                border-radius: 0;
            }

            td:last-child {
                border-bottom-left-radius: 37px;
            }
        }
    }

    .steps-list {
        margin-top: 50px;
    }

    .step-arrow {


        &,
        &.reverse,
        &.bottom {
            margin: 20px auto;
            float: none;
            transform: rotate(90deg) scale(1) !important;
        }
    }

    .step {
        display: block;
        transform: scale(1) !important;
        width: 100%;
        margin-right: 0;

        strong {
            margin-top: 0;
        }
    }

    .step-button {
        padding: 10px 15px;
        font-size: 18px;
    }

    .steps-list-bottom {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -o-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
    }

    .calc-body {
        width: 100%;
        padding: 0;
    }

    .calc-tab {
        display: block;
        width: 100%;
        margin: 0;
        padding: 20px 0;
        border-radius: 0 !important;

        &:nth-of-type(1) {
            border-radius: 27px 27px 0 0 !important;
        }
    }

    .calc-params {
        padding: 20px;
    }

    .calc-params-col {
        display: block;
        width: 100%;
        margin: 0 0 23px;

        &:last-child {
            margin-bottom: 0;
        }
        &.changable {
            display: none;
        }
        &.changable.active {
            display: block;
        }
    }

    .calc-form {
        padding: 20px 15px;

        input[type=text] {
            display: block;
            width: 100%;
            margin: 0 0 20px;
        }

        .form-title {
            margin: 0 0 15px;
        }
    }

    .portfolio-slider {
        margin-top: 50px;
    }

    .portfolio-slide {

        a {
            width: ~"calc(100% / 3)";
            width: ~"-webkit-calc(100% / 3)";
            width: ~"-moz-calc(100% / 3)";
            width: ~"-o-calc(100% / 3)";
            width: ~"-ms-calc(100% / 3)";
            height: 57px;
            padding: 0;
            margin-bottom: 0;

            img {
                width: auto;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
    }

    .slick-dots {
        margin: 19px 0 0;

        li {
            margin: 6px;
        }
    }

    .slider-prev,
    .slider-next {
        display: none !important;
    }

    .contacts-content {
        margin-top: 50px;
    }

    .contacts-text,
    .contacts-form {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    .contacts-text {
        padding-top: 0;
        font-size: 19px;
        text-align: center;

        p {
            margin: 15px 0;
            padding-left: 0;
        }

        p, a {
            background: none;
        }
    }

    .contacts-phone {

        a {
            margin-bottom: 15px;
        }
    }

    .contacts-email {
        display: block;
        padding-left: 0;
    }

    .contacts-form {

        form {
            padding-bottom: 0;
            border: none;
        }
    }

    footer {
        text-align: center;
        padding-top: 35px;

        img {
            width: 94px;
        }
    }

    .modal {
        padding: 30px 15px;
        border-radius: 25px;

        img {
            margin: -30px -15px 25px;
            width: ~"calc(100% + 30px)";
            width: ~"-webkit-calc(100% + 30px)";
            width: ~"-moz-calc(100% + 30px)";
            width: ~"-o-calc(100% + 30px)";
            width: ~"-ms-calc(100% + 30px)";
            border-radius: 25px 25px 0 0;
        }
    }
}
