header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 74px;
    padding: 25px 0;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
    transition: background 0.3s ease;

    &.dark {
        background: rgba(0, 0, 0, 0.6);
    }
}

.header-menu {
    text-align: center;

    ul {

        li {
            display: inline-block;
            margin-right: 12px;
            font-size: 20px;
            vertical-align: top;

            &:after {
                content: '/';
                margin-left: 16px;
                color: @green;
            }
            &:last-child {
                margin-right: 0;
            }
            &:last-child:after {
                content: none;
            }
        }

        a {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid transparent;

            &:hover {
                border-color: #fff;
            }
        }
    }
}

// #button common style
.button {
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 25px;
    transition: all 0.15s ease-in;

    &:active {
        top: 1px;
    }
}

// #promo block
.promo {
    //min-height: 778px;
    padding: 120px 0 105px;
    color: #fff;
    background: url('../img/bg-promo.jpg') no-repeat center top;
    background-size: cover;
}

.promo-menu {
    display: none;
}

.promo-email {
    margin-top: 5px;
    margin-left: 120px;
    padding-left: 30px;
    font-size: 25px;
    color: #fff;
    background: url('../img/icon-email-white.png') no-repeat left center;
    text-decoration: none;
}

.promo-callback {
    margin-top: 5px;
    text-align: right;
}

.promo-phone {
    display: block;
    margin-top: 3px;
    font-family: @regular;
    font-size: 22px;
    padding-left: 25px;
    color: #fff;
    background: url('../img/icon-phone-white.png') no-repeat left center;
    text-decoration: none;
}

.promo-button {
    margin-top: 7px;
    padding: 4px 15px;
    color: #fff;

    &:hover {
        background: #fff;
        color: @green;
        border-color: #fff;
    }
}

.promo-logo,
.promo-email,
.promo-callback {
    //
    position: relative;
    top: -50px;
    opacity: 0;
    transition: all 0.5s ease;

    &.visible {
        top: 0;
        opacity: 1;
    }
}

.promo-content {
    margin-top: 40px;
}

.promo-text,
.promo-form {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.promo-text {
    padding-top: 10px;
    //
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: all 0.5s ease;

    &.visible {
        bottom: 0;
        opacity: 1;
    }
}

.promo-title {
    font-family: @semibold;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;

    span {
        color: @green;
    }
}

.promo-subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
}

.promo-sale,
.promo-legal {
    margin-top: 35px;
    //
    position: relative;
    transform: scale(0);
    transition: all 0.7s ease;
    transition-delay: 0.7s;

    &.visible {
        transform: scale(1);
    }

    img,
    figcaption {
        display: inline-block;
        margin-right: -4px;
        vertical-align: middle;
    }

    figcaption {
        font-family: @semibold;
        font-size: 20px;
    }
}

.promo-legal {
    //
    transition-delay: 1.3s;
}

.promo-sale figcaption {
    padding-left: 31px;
}
.promo-legal figcaption {
    padding-left: 20px;
}

// #promo form
.promo-form {
    //
    position: relative;
    bottom: -100px;
    opacity: 0;
    transition: all 0.5s ease;

    &.visible {
        bottom: 0;
        opacity: 1;
    }

    form {
        background: rgba(0, 0, 0, 0.3);
    }

    input[type=text] {

        &::-webkit-input-placeholder { color: #fff; }
        &:-moz-placeholder { color: #fff; }
        &::-moz-placeholder { color: #fff; }
        &:-ms-input-placeholder { color: #fff; }
    }
}

.form-title {
    display: block;
    margin-bottom: 30px;
    font-family: @regular;
    font-size: 25px;
    text-align: center;
}

form {
    float: right;
    width: 475px;
    padding: 50px 35px 45px;
    border-radius: 37px;

    input[type=text],
    input[type=number],
    textarea {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 25px 35px;
        background: transparent;
        border: 1px solid;
        border-radius: 35px;
    }

    textarea {
        height: 190px;
        resize: none;
    }

    input[type=submit] {
        display: block;
        width: 100%;
        padding: 23px 0 22px;
        font-family: @regular;
        font-size: 20px;
        color: #fff;
        background: @green;
        border-color: @green;
        border-radius: 35px;
    }
}

.section-title {
    font-size: 35px;
    font-weight: 300;
    text-align: center;

    & + hr {
        display: block;
        max-width: 170px;
        height: 1px;
        margin: 5px auto 0;
        border: none;
    }
}

// #advantages
.advantages {
    padding: 65px 0;
    text-align: center;

    hr {
        background: @green;
    }
}

.advantages-list {
    margin: 50px 0 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        width: 16.6666667%;
        width: ~"calc(100% / 6)";
        width: ~"-moz-calc(100% / 6)";
        width: ~"-o-calc(100% / 6)";
        width: ~"-ms-calc(100% / 6)";
        margin-right: -4px;
        vertical-align: top;
        //
        opacity: 0;
    }

    strong {
        display: block;
        margin-top: 15px;
        font-family: @light;
        font-weight: 300;
        font-size: 18px;
    }
}

.advantages-call {
    max-width: 770px;
    margin: 70px auto 0;
    padding: 0 40px;
    font-size: 25px;
    background: url('../img/bg-call.png') no-repeat left center,
                url('../img/bg-call.png') no-repeat right center;
}

// #services block
.services {
    padding: 65px 0 45px;
    color: #fff;
    background: url('../img/bg-services.jpg') no-repeat center top;
    background-size: cover;

    hr {
        background: #fff;
    }
}

.services-list {
    width: 920px;
    margin: 30px auto 0;

    th {
        padding: 25px 50px;
        font-family: @regular;
        font-weight: 400;
        font-size: 21px;
        text-align: left;
        background: @green;
    }

    th:first-child {
        border-top-left-radius: 37px;
    }

    th:last-child {
        border-top-right-radius: 37px;
    }

    td {
        padding: 18px 50px 24px;
        font-size: 19px;
    }

    a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
            border-color: #fff;
        }
    }

    tr:nth-child(odd) td {
        background: fade(#ecf0f1, 30%);
    }

    tr:nth-child(even) td {
        background: fade(#ecf0f1, 10%);
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 37px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 37px;
    }
}

// #steps block
.steps {
    padding: 65px 0;
    text-align: center;

    hr {
        background: @green;
    }
}

.steps-list {
    margin-top: 70px;
    padding: 0 125px;
}

.step,
.step-arrow {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    //
    transform: scale(0);
}

.step {
    width: 175px;

    strong {
        display: block;
        margin-top: 7px;
        font-family: @light;
        font-weight: 300;
    }
}

.step-arrow {
    width: 25px;
    height: 36px;
    margin: 20px 20px 0;
    background: url('../img/icon-arrow.png') no-repeat center center;

    &.reverse {
        transform: rotate(180deg) scale(0);
    }
    &.bottom {
        margin: 20px 0;
        margin-right: 67px;
        float: right;
        transform: rotate(90deg) scale(0);
    }
}

.step-button {
    margin-top: 7px;
    padding: 6px 15px;
    color: #fff;
    background: @green;
    border-color: @green;
    box-shadow: 0 0 7px 2px fade(darken(@green, 5%), 25%);

    &:hover {
        background: #fff;
        color: @green;
    }
}

// #calculator block
.calc {
    padding: 65px 0 80px;
    color: #fff;
    background: url('../img/bg-calc.jpg') no-repeat center top;
    background-size: cover;

    hr {
        background: #fff;
    }
}

.calc-body {
    width: 1000px;
    margin: 40px auto 0;
    padding: 0 0 75px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 27px;

    form {
        float: none;
        width: auto;
        padding: 0;
        border-radius: 0;
    }

    input[type=text],
    input[type=number] {

        &::-webkit-input-placeholder { color: #fff; }
        &:-moz-placeholder { color: #fff; }
        &::-moz-placeholder { color: #fff; }
        &:-ms-input-placeholder { color: #fff; }
    }

    input[type=number] {

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.calc-tab {
    display: inline-block;
    width: 33.333333333%;
    margin-right: -4px;
    padding: 25px 0;
    font-family: @regular;
    font-size: 21px;
    text-align: center;
    background: #258a4f;
    cursor: pointer;
    vertical-align: top;

    &:hover {
        opacity: 0.9;
    }
    &.active {
        font-family: @light;
        background: @green;
    }
    &:nth-of-type(1) {
        border-radius: 27px 0 0 0;
    }
    &:nth-of-type(3) {
        border-radius: 0 27px 0 0;
    }
}

.calc-params {
    padding: 35px 65px 40px;
    font-family: @regular;
    background: rgba(255, 255, 255, 0.08);
}

.calc-params-col {
    display: inline-block;
    width: 33.333333333%;
    margin-right: -4px;
    vertical-align: top;

    &.changable {
        display: none;
    }
    &.changable.active {
        display: inline-block;
    }
}

.calc-params-title {
    margin: 0 0 20px;
    font-size: 24px;
}

.calc-params-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 25px;
        vertical-align: middle;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 16px;
            height: 16px;
            background: transparent;
            border: 1px solid #fff;
        }
        &.selected:before {
            background: #fff;
        }
    }
}

[name=sizeHeight],
[name=sizeDepth],
[name=sizeWidth] {
    margin-bottom: 10px !important;
    padding: 8px 18px !important;
    border-radius: 15px !important;

    &:last-child {
        margin-bottom: 0 !important;
    }
}

.calc-params-technic {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        background: transparent;
        border: 1px solid #fff;
    }
    &.selected:before {
        background: #fff;
    }
}

.calc-form {
    text-align: center;

    input[type=text] {
        display: inline-block;
        width: 335px;
        margin: 0 10px;
        vertical-align: top;
    }

    input[type=submit] {
        max-width: 405px;
        margin: 20px auto 0;
    }
}

// #reviews block
.reviews {
    padding: 65px 0 80px;

    hr {
        background: @green;
    }

    .slider-prev,
    .slider-next {
        background: url('../img/icon-arrow-black.png') no-repeat center center;
        opacity: 0.3;

        &:hover {
            opacity: 0.5;
        }
    }
}

.reviews-slider {
    position: relative;
    margin-top: 30px;
}

.reviews-slide p {
    max-width: 1000px;
    margin: 0 auto;
    line-height: 25px;
    text-align: center;
}

.reviews-slide strong {
    font-family: @regular;
}

.reviews-button {
    display: block;
    max-width: 405px;
    margin: 35px auto 0;
    padding: 23px 0 22px;
    font-family: @regular;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: @green;
    border-color: @green;
    border-radius: 35px;
}

// #portfolio block
.portfolio {
    padding: 65px 0;
    color: #fff;
    background: url('../img/bg-portfolio.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;

    hr {
        background: #fff;
    }
}

.portfolio-slider {
    margin-top: 40px;
}

.portfolio-slide {
    text-align: center;

    a {
        display: block;
        float: left;
        width: ~"calc(100% / 7)";
        width: ~"-webkit-calc(100% / 7)";
        width: ~"-moz-calc(100% / 7)";
        width: ~"-o-calc(100% / 7)";
        width: ~"-ms-calc(100% / 7)";
        height: 152px;
        padding: 0 6px 12px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

.slider-prev,
.slider-next {
    position: absolute;
    width: 20px;
    height: 36px;
    top: 50%;
    margin-top: -18px;
    background: url('../img/icon-arrow-white.png') no-repeat center center;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.slider-prev {
    left: -60px;
}

.slider-next {
    right: -60px;
    transform: rotate(180deg);
}

.slick-dots {
    margin: 43px 0 0;
    padding: 0;
    text-align: center;
    list-style: none;

    button {
        display: none;
    }

    li {
        display: inline-block;
        width: 17px;
        height: 17px;
        margin: 0 6px;
        background: #fff;
        vertical-align: middle;
        border-radius: 50%;
        cursor: pointer;

        &.slick-active {
            background: @green;
        }
    }
}

.slick-slide {
    outline: none;
}

// #contacts block
.contacts {
    padding: 65px 0;

    hr {
        background: @green;
    }
}

.contacts-content {
    margin-top: 60px;
}

.contacts-text,
.contacts-form {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.contacts-text {
    padding-top: 75px;
    font-size: 25px;
    //
    position: relative;
    left: -150px;
    opacity: 0;
    transition: all 0.8s ease;

    &.visible {
        left: 0;
        opacity: 1;
    }

    p {
        margin: 18px 0;
        padding-left: 40px;
    }

    a {
        color: #000;
        text-decoration: none;
    }
}

.contacts-phone {
    background: url('../img/icon-phone-green.png') no-repeat top 5px left;

    a {
        display: block;
        margin-bottom: 18px;
    }
}

.contacts-email {
    display: inline-block;
    padding-left: 40px;
    background: url('../img/icon-email-green.png') no-repeat left center;
}

.contacts-address {
    background: url('../img/icon-location.png') no-repeat left center;
}

.contacts-form {
    //
    position: relative;
    right: -150px;
    opacity: 0;
    transition: all 0.8s ease;

    &.visible {
        right: 0;
        opacity: 1;
    }

    form {
        border: 2px solid @green;
    }

    input[type=text] {

        &::-webkit-input-placeholder { color: #000; }
        &:-moz-placeholder { color: #000; }
        &::-moz-placeholder { color: #000; }
        &:-ms-input-placeholder { color: #000; }
    }
}

footer {
    text-align: right;
}
