.modal {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    padding: 45px 35px;
    text-align: center;
    background: #fff;
    border: 2px solid @green;
    border-radius: 37px;

    form {
        display: block;
        background: #fff;
        float: none;
    }

    img {
        display: block;
        margin: -45px -35px 25px;
        width: 100%;
        width: ~"calc(100% + 70px)";
        width: ~"-webkit-calc(100% + 70px)";
        width: ~"-moz-calc(100% + 70px)";
        width: ~"-o-calc(100% + 70px)";
        width: ~"-ms-calc(100% + 70px)";
        border-radius: 37px 37px 0 0;
    }

    p, li {
        line-height: 25px;
    }

    input[type=text],
    textarea {

        &::-webkit-input-placeholder { color: #000; }
        &:-moz-placeholder { color: #000; }
        &::-moz-placeholder { color: #000; }
        &:-ms-input-placeholder { color: #000; }
    }
}

.modal-service {
    text-align: left;
}

#callback,
#review {
    float: none;
}

#thanks {

    p {
        font-size: 18px;
    }
}

.mfp-content {
    transform: translateY(-800px);
    transition: all 0.25s ease;
}

.mfp-ready .mfp-content {
    transform: translateY(0);
}
