@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular.eot");
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight.eot");
  src: url("../fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight.woff") format("woff"), url("../fonts/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoSemibold";
  src: url('../fonts/LatoSemibold.eot?') format('eot'), url('../fonts/LatoSemibold.woff') format('woff'), url('../fonts/LatoSemibold.ttf') format('truetype');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after,
div:after,
nav:after,
header:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
address {
  font-style: normal;
}
a {
  outline: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure,
dl,
dd {
  margin: 0;
}
strong,
b {
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-weight: 400;
}
small {
  font-size: 12px;
}
input,
textarea,
select {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  font-family: 'LatoLight', 'Open Sans Light', sans-serif;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.container.small {
  width: 1000px;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  padding: 45px 35px;
  text-align: center;
  background: #fff;
  border: 2px solid #35c671;
  border-radius: 37px;
}
.modal form {
  display: block;
  background: #fff;
  float: none;
}
.modal img {
  display: block;
  margin: -45px -35px 25px;
  width: 100%;
  width: calc(100% + 70px);
  width: -webkit-calc(100% + 70px);
  width: -moz-calc(100% + 70px);
  width: -o-calc(100% + 70px);
  width: -ms-calc(100% + 70px);
  border-radius: 37px 37px 0 0;
}
.modal p,
.modal li {
  line-height: 25px;
}
.modal input[type=text]::-webkit-input-placeholder,
.modal textarea::-webkit-input-placeholder {
  color: #000;
}
.modal input[type=text]:-moz-placeholder,
.modal textarea:-moz-placeholder {
  color: #000;
}
.modal input[type=text]::-moz-placeholder,
.modal textarea::-moz-placeholder {
  color: #000;
}
.modal input[type=text]:-ms-input-placeholder,
.modal textarea:-ms-input-placeholder {
  color: #000;
}
.modal-service {
  text-align: left;
}
#callback,
#review {
  float: none;
}
#thanks p {
  font-size: 18px;
}
.mfp-content {
  transform: translateY(-800px);
  transition: all 0.25s ease;
}
.mfp-ready .mfp-content {
  transform: translateY(0);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 74px;
  padding: 25px 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1;
  transition: background 0.3s ease;
}
header.dark {
  background: rgba(0, 0, 0, 0.6);
}
.header-menu {
  text-align: center;
}
.header-menu ul li {
  display: inline-block;
  margin-right: 12px;
  font-size: 20px;
  vertical-align: top;
}
.header-menu ul li:after {
  content: '/';
  margin-left: 16px;
  color: #35c671;
}
.header-menu ul li:last-child {
  margin-right: 0;
}
.header-menu ul li:last-child:after {
  content: none;
}
.header-menu ul a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-menu ul a:hover {
  border-color: #fff;
}
.button {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid;
  border-radius: 25px;
  transition: all 0.15s ease-in;
}
.button:active {
  top: 1px;
}
.promo {
  padding: 120px 0 105px;
  color: #fff;
  background: url('../img/bg-promo.jpg') no-repeat center top;
  background-size: cover;
}
.promo-menu {
  display: none;
}
.promo-email {
  margin-top: 5px;
  margin-left: 120px;
  padding-left: 30px;
  font-size: 25px;
  color: #fff;
  background: url('../img/icon-email-white.png') no-repeat left center;
  text-decoration: none;
}
.promo-callback {
  margin-top: 5px;
  text-align: right;
}
.promo-phone {
  display: block;
  margin-top: 3px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 22px;
  padding-left: 25px;
  color: #fff;
  background: url('../img/icon-phone-white.png') no-repeat left center;
  text-decoration: none;
}
.promo-button {
  margin-top: 7px;
  padding: 4px 15px;
  color: #fff;
}
.promo-button:hover {
  background: #fff;
  color: #35c671;
  border-color: #fff;
}
.promo-logo,
.promo-email,
.promo-callback {
  position: relative;
  top: -50px;
  opacity: 0;
  transition: all 0.5s ease;
}
.promo-logo.visible,
.promo-email.visible,
.promo-callback.visible {
  top: 0;
  opacity: 1;
}
.promo-content {
  margin-top: 40px;
}
.promo-text,
.promo-form {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}
.promo-text {
  padding-top: 10px;
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.5s ease;
}
.promo-text.visible {
  bottom: 0;
  opacity: 1;
}
.promo-title {
  font-family: 'LatoRegular', 'Open Sans Bold', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
}
.promo-title span {
  color: #35c671;
}
.promo-subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
}
.promo-sale,
.promo-legal {
  margin-top: 35px;
  position: relative;
  transform: scale(0);
  transition: all 0.7s ease;
  transition-delay: 0.7s;
}
.promo-sale.visible,
.promo-legal.visible {
  transform: scale(1);
}
.promo-sale img,
.promo-legal img,
.promo-sale figcaption,
.promo-legal figcaption {
  display: inline-block;
  margin-right: -4px;
  vertical-align: middle;
}
.promo-sale figcaption,
.promo-legal figcaption {
  font-family: 'LatoRegular', 'Open Sans Bold', sans-serif;
  font-size: 20px;
}
.promo-legal {
  transition-delay: 1.3s;
}
.promo-sale figcaption {
  padding-left: 31px;
}
.promo-legal figcaption {
  padding-left: 20px;
}
.promo-form {
  position: relative;
  bottom: -100px;
  opacity: 0;
  transition: all 0.5s ease;
}
.promo-form.visible {
  bottom: 0;
  opacity: 1;
}
.promo-form form {
  background: rgba(0, 0, 0, 0.3);
}
.promo-form input[type=text]::-webkit-input-placeholder {
  color: #fff;
}
.promo-form input[type=text]:-moz-placeholder {
  color: #fff;
}
.promo-form input[type=text]::-moz-placeholder {
  color: #fff;
}
.promo-form input[type=text]:-ms-input-placeholder {
  color: #fff;
}
.form-title {
  display: block;
  margin-bottom: 30px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}
form {
  float: right;
  width: 475px;
  padding: 50px 35px 45px;
  border-radius: 37px;
}
form input[type=text],
form input[type=number],
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 25px 35px;
  background: transparent;
  border: 1px solid;
  border-radius: 35px;
}
form textarea {
  height: 190px;
  resize: none;
}
form input[type=submit] {
  display: block;
  width: 100%;
  padding: 23px 0 22px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;
  background: #35c671;
  border-color: #35c671;
  border-radius: 35px;
}
.section-title {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}
.section-title + hr {
  display: block;
  max-width: 170px;
  height: 1px;
  margin: 5px auto 0;
  border: none;
}
.advantages {
  padding: 65px 0;
  text-align: center;
}
.advantages hr {
  background: #35c671;
}
.advantages-list {
  margin: 50px 0 0;
  padding: 0;
  list-style: none;
}
.advantages-list li {
  display: inline-block;
  width: 16.6666667%;
  width: calc(100% / 6);
  width: -moz-calc(100% / 6);
  width: -o-calc(100% / 6);
  width: -ms-calc(100% / 6);
  margin-right: -4px;
  vertical-align: top;
  opacity: 0;
}
.advantages-list strong {
  display: block;
  margin-top: 15px;
  font-family: 'LatoLight', 'Open Sans Light', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.advantages-call {
  max-width: 770px;
  margin: 70px auto 0;
  padding: 0 40px;
  font-size: 25px;
  background: url('../img/bg-call.png') no-repeat left center, url('../img/bg-call.png') no-repeat right center;
}
.services {
  padding: 65px 0 45px;
  color: #fff;
  background: url('../img/bg-services.jpg') no-repeat center top;
  background-size: cover;
}
.services hr {
  background: #fff;
}
.services-list {
  width: 920px;
  margin: 30px auto 0;
}
.services-list th {
  padding: 25px 50px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 21px;
  text-align: left;
  background: #35c671;
}
.services-list th:first-child {
  border-top-left-radius: 37px;
}
.services-list th:last-child {
  border-top-right-radius: 37px;
}
.services-list td {
  padding: 18px 50px 24px;
  font-size: 19px;
}
.services-list a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.services-list a:hover {
  border-color: #fff;
}
.services-list tr:nth-child(odd) td {
  background: rgba(236, 240, 241, 0.3);
}
.services-list tr:nth-child(even) td {
  background: rgba(236, 240, 241, 0.1);
}
.services-list tr:last-child td:first-child {
  border-bottom-left-radius: 37px;
}
.services-list tr:last-child td:last-child {
  border-bottom-right-radius: 37px;
}
.steps {
  padding: 65px 0;
  text-align: center;
}
.steps hr {
  background: #35c671;
}
.steps-list {
  margin-top: 70px;
  padding: 0 125px;
}
.step,
.step-arrow {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  transform: scale(0);
}
.step {
  width: 175px;
}
.step strong {
  display: block;
  margin-top: 7px;
  font-family: 'LatoLight', 'Open Sans Light', sans-serif;
  font-weight: 300;
}
.step-arrow {
  width: 25px;
  height: 36px;
  margin: 20px 20px 0;
  background: url('../img/icon-arrow.png') no-repeat center center;
}
.step-arrow.reverse {
  transform: rotate(180deg) scale(0);
}
.step-arrow.bottom {
  margin: 20px 0;
  margin-right: 67px;
  float: right;
  transform: rotate(90deg) scale(0);
}
.step-button {
  margin-top: 7px;
  padding: 6px 15px;
  color: #fff;
  background: #35c671;
  border-color: #35c671;
  box-shadow: 0 0 7px 2px rgba(48, 178, 102, 0.25);
}
.step-button:hover {
  background: #fff;
  color: #35c671;
}
.calc {
  padding: 65px 0 80px;
  color: #fff;
  background: url('../img/bg-calc.jpg') no-repeat center top;
  background-size: cover;
}
.calc hr {
  background: #fff;
}
.calc-body {
  width: 1000px;
  margin: 40px auto 0;
  padding: 0 0 75px;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 27px;
}
.calc-body form {
  float: none;
  width: auto;
  padding: 0;
  border-radius: 0;
}
.calc-body input[type=text]::-webkit-input-placeholder,
.calc-body input[type=number]::-webkit-input-placeholder {
  color: #fff;
}
.calc-body input[type=text]:-moz-placeholder,
.calc-body input[type=number]:-moz-placeholder {
  color: #fff;
}
.calc-body input[type=text]::-moz-placeholder,
.calc-body input[type=number]::-moz-placeholder {
  color: #fff;
}
.calc-body input[type=text]:-ms-input-placeholder,
.calc-body input[type=number]:-ms-input-placeholder {
  color: #fff;
}
.calc-body input[type=number]::-webkit-outer-spin-button,
.calc-body input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calc-tab {
  display: inline-block;
  width: 33.333333333%;
  margin-right: -4px;
  padding: 25px 0;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 21px;
  text-align: center;
  background: #258a4f;
  cursor: pointer;
  vertical-align: top;
}
.calc-tab:hover {
  opacity: 0.9;
}
.calc-tab.active {
  font-family: 'LatoLight', 'Open Sans Light', sans-serif;
  background: #35c671;
}
.calc-tab:nth-of-type(1) {
  border-radius: 27px 0 0 0;
}
.calc-tab:nth-of-type(3) {
  border-radius: 0 27px 0 0;
}
.calc-params {
  padding: 35px 65px 40px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  background: rgba(255, 255, 255, 0.08);
}
.calc-params-col {
  display: inline-block;
  width: 33.333333333%;
  margin-right: -4px;
  vertical-align: top;
}
.calc-params-col.changable {
  display: none;
}
.calc-params-col.changable.active {
  display: inline-block;
}
.calc-params-title {
  margin: 0 0 20px;
  font-size: 24px;
}
.calc-params-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.calc-params-list li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 25px;
  vertical-align: middle;
  cursor: pointer;
}
.calc-params-list li:last-child {
  margin-bottom: 0;
}
.calc-params-list li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #fff;
}
.calc-params-list li.selected:before {
  background: #fff;
}
[name=sizeHeight],
[name=sizeDepth],
[name=sizeWidth] {
  margin-bottom: 10px !important;
  padding: 8px 18px !important;
  border-radius: 15px !important;
}
[name=sizeHeight]:last-child,
[name=sizeDepth]:last-child,
[name=sizeWidth]:last-child {
  margin-bottom: 0 !important;
}
.calc-params-technic {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.calc-params-technic:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 1px solid #fff;
}
.calc-params-technic.selected:before {
  background: #fff;
}
.calc-form {
  text-align: center;
}
.calc-form input[type=text] {
  display: inline-block;
  width: 335px;
  margin: 0 10px;
  vertical-align: top;
}
.calc-form input[type=submit] {
  max-width: 405px;
  margin: 20px auto 0;
}
.reviews {
  padding: 65px 0 80px;
}
.reviews hr {
  background: #35c671;
}
.reviews .slider-prev,
.reviews .slider-next {
  background: url('../img/icon-arrow-black.png') no-repeat center center;
  opacity: 0.3;
}
.reviews .slider-prev:hover,
.reviews .slider-next:hover {
  opacity: 0.5;
}
.reviews-slider {
  position: relative;
  margin-top: 30px;
}
.reviews-slide p {
  max-width: 1000px;
  margin: 0 auto;
  line-height: 25px;
  text-align: center;
}
.reviews-slide strong {
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
}
.reviews-button {
  display: block;
  max-width: 405px;
  margin: 35px auto 0;
  padding: 23px 0 22px;
  font-family: 'LatoRegular', 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: #35c671;
  border-color: #35c671;
  border-radius: 35px;
}
.portfolio {
  padding: 65px 0;
  color: #fff;
  background: url('../img/bg-portfolio.jpg') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
.portfolio hr {
  background: #fff;
}
.portfolio-slider {
  margin-top: 40px;
}
.portfolio-slide {
  text-align: center;
}
.portfolio-slide a {
  display: block;
  float: left;
  width: calc(100% / 7);
  width: -webkit-calc(100% / 7);
  width: -moz-calc(100% / 7);
  width: -o-calc(100% / 7);
  width: -ms-calc(100% / 7);
  height: 152px;
  padding: 0 6px 12px;
  overflow: hidden;
}
.portfolio-slide a img {
  display: block;
  width: 100%;
  height: auto;
}
.slider-prev,
.slider-next {
  position: absolute;
  width: 20px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  background: url('../img/icon-arrow-white.png') no-repeat center center;
  cursor: pointer;
}
.slider-prev:hover,
.slider-next:hover {
  opacity: 0.8;
}
.slider-prev {
  left: -60px;
}
.slider-next {
  right: -60px;
  transform: rotate(180deg);
}
.slick-dots {
  margin: 43px 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.slick-dots button {
  display: none;
}
.slick-dots li {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 0 6px;
  background: #fff;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}
.slick-dots li.slick-active {
  background: #35c671;
}
.slick-slide {
  outline: none;
}
.contacts {
  padding: 65px 0;
}
.contacts hr {
  background: #35c671;
}
.contacts-content {
  margin-top: 60px;
}
.contacts-text,
.contacts-form {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
  vertical-align: top;
}
.contacts-text {
  padding-top: 75px;
  font-size: 25px;
  position: relative;
  left: -150px;
  opacity: 0;
  transition: all 0.8s ease;
}
.contacts-text.visible {
  left: 0;
  opacity: 1;
}
.contacts-text p {
  margin: 18px 0;
  padding-left: 40px;
}
.contacts-text a {
  color: #000;
  text-decoration: none;
}
.contacts-phone {
  background: url('../img/icon-phone-green.png') no-repeat top 5px left;
}
.contacts-phone a {
  display: block;
  margin-bottom: 18px;
}
.contacts-email {
  display: inline-block;
  padding-left: 40px;
  background: url('../img/icon-email-green.png') no-repeat left center;
}
.contacts-address {
  background: url('../img/icon-location.png') no-repeat left center;
}
.contacts-form {
  position: relative;
  right: -150px;
  opacity: 0;
  transition: all 0.8s ease;
}
.contacts-form.visible {
  right: 0;
  opacity: 1;
}
.contacts-form form {
  border: 2px solid #35c671;
}
.contacts-form input[type=text]::-webkit-input-placeholder {
  color: #000;
}
.contacts-form input[type=text]:-moz-placeholder {
  color: #000;
}
.contacts-form input[type=text]::-moz-placeholder {
  color: #000;
}
.contacts-form input[type=text]:-ms-input-placeholder {
  color: #000;
}
footer {
  text-align: right;
}
@media screen and (max-width: 1440px) {
  .container {
    width: 1200px;
  }
  .advantages-list li {
    padding: 0 15px;
  }
  .steps-list {
    padding: 0 25px;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    width: 1000px;
  }
  .steps-list {
    padding: 0;
  }
  .step-arrow {
    margin: 20px 0 0;
  }
  .step-arrow.bottom {
    margin: 20px 76px 20px 0;
  }
}
@media screen and (max-width: 1025px) {
  .container,
  .container.small {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  br {
    display: none;
  }
  .animate {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    transform: none !important;
    opacity: 1 !important;
  }
  .to-left,
  .to-right {
    float: none;
  }
  header {
    display: none;
  }
  .header-menu {
    display: none;
  }
  .header-menu ul li {
    display: block;
    margin: 0 0 10px;
    padding: 5px 0;
    font-size: 18px;
  }
  .header-menu ul li:after {
    content: none;
  }
  .header-menu ul li:last-child {
    margin: 0 0 10px;
  }
  main > section {
    padding: 25px 0 !important;
  }
  .promo-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    display: block;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .promo-menu ul {
    height: 0;
    overflow: hidden;
  }
  .promo-menu.visible {
    height: auto;
    background: rgba(0, 0, 0, 0.7);
  }
  .promo-menu.visible ul {
    height: auto;
    margin-top: 15px;
  }
  .promo-menu-title {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  .promo-menu-title img {
    width: 23px;
    margin-right: 5px;
    vertical-align: top;
  }
  .button {
    display: block;
    width: 100%;
    border-radius: 25px;
  }
  .promo {
    text-align: center;
  }
  .promo-logo {
    display: block;
    margin: 64px auto 10px;
  }
  .promo-email,
  .promo-phone {
    display: inline-block;
    margin: 5px 0;
  }
  .promo-email {
    margin-left: 0;
    font-size: 22px;
  }
  .promo-callback {
    text-align: center;
  }
  .promo-button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 18px;
  }
  .promo-content {
    margin-top: 15px;
  }
  .promo-text,
  .promo-form {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .promo-title {
    font-size: 35px;
  }
  .promo-subtitle {
    line-height: normal;
  }
  .promo-legal,
  .promo-sale {
    margin-top: 20px;
  }
  .promo-legal img,
  .promo-sale img,
  .promo-legal figcaption,
  .promo-sale figcaption {
    display: block;
    margin: 0 auto;
  }
  .promo-legal figcaption,
  .promo-sale figcaption {
    padding-top: 5px;
    padding-left: 0;
  }
  form {
    float: none;
    width: 100%;
    padding: 25px 0;
    border-radius: 20px;
  }
  form .form-title {
    margin-bottom: 15px;
    font-size: 20px;
  }
  form input[type=text] {
    padding: 15px;
  }
  form input[type=submit] {
    padding: 14px 15px 13px;
    font-size: 18px;
  }
  .promo-form {
    margin-top: 25px;
  }
  .promo-form form {
    background: none;
  }
  .section-title {
    font-size: 30px;
  }
  .advantages-list li {
    display: block;
    width: 100% !important;
    margin: 0 0 25px;
    padding: 0;
    opacity: 1 !important;
  }
  .advantages-list li strong {
    margin-top: 5px;
  }
  .advantages-list li:last-child {
    margin-bottom: 0;
  }
  .advantages-call {
    margin-top: 50px;
    padding: 0;
    font-size: 20px;
    background: none;
  }
  .services-list {
    width: 100%;
    margin: 50px auto 0;
  }
  .services-list th {
    padding: 20px 25px;
    font-size: 18px;
  }
  .services-list th:first-child {
    padding: 20px 25px 10px;
    border-top-right-radius: 37px;
  }
  .services-list th:last-child {
    padding: 10px 25px 20px;
    border-radius: 0;
  }
  .services-list td {
    padding: 18px 25px;
    font-size: 16px;
  }
  .services-list td a {
    border-bottom: 1px solid #fff;
  }
  .services-list th,
  .services-list td {
    display: block;
    width: 100%;
  }
  .services-list tr td:first-child {
    padding-bottom: 9px;
  }
  .services-list tr td:last-child {
    padding-top: 9px;
  }
  .services-list tr:last-child td:first-child {
    border-radius: 0;
  }
  .services-list tr:last-child td:last-child {
    border-bottom-left-radius: 37px;
  }
  .steps-list {
    margin-top: 50px;
  }
  .step-arrow,
  .step-arrow.reverse,
  .step-arrow.bottom {
    margin: 20px auto;
    float: none;
    transform: rotate(90deg) scale(1) !important;
  }
  .step {
    display: block;
    transform: scale(1) !important;
    width: 100%;
    margin-right: 0;
  }
  .step strong {
    margin-top: 0;
  }
  .step-button {
    padding: 10px 15px;
    font-size: 18px;
  }
  .steps-list-bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
  }
  .calc-body {
    width: 100%;
    padding: 0;
  }
  .calc-tab {
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-radius: 0 !important;
  }
  .calc-tab:nth-of-type(1) {
    border-radius: 27px 27px 0 0 !important;
  }
  .calc-params {
    padding: 20px;
  }
  .calc-params-col {
    display: block;
    width: 100%;
    margin: 0 0 23px;
  }
  .calc-params-col:last-child {
    margin-bottom: 0;
  }
  .calc-params-col.changable {
    display: none;
  }
  .calc-params-col.changable.active {
    display: block;
  }
  .calc-form {
    padding: 20px 15px;
  }
  .calc-form input[type=text] {
    display: block;
    width: 100%;
    margin: 0 0 20px;
  }
  .calc-form .form-title {
    margin: 0 0 15px;
  }
  .portfolio-slider {
    margin-top: 50px;
  }
  .portfolio-slide a {
    width: calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -o-calc(100% / 3);
    width: -ms-calc(100% / 3);
    height: 57px;
    padding: 0;
    margin-bottom: 0;
  }
  .portfolio-slide a img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .slick-dots {
    margin: 19px 0 0;
  }
  .slick-dots li {
    margin: 6px;
  }
  .slider-prev,
  .slider-next {
    display: none !important;
  }
  .contacts-content {
    margin-top: 50px;
  }
  .contacts-text,
  .contacts-form {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .contacts-text {
    padding-top: 0;
    font-size: 19px;
    text-align: center;
  }
  .contacts-text p {
    margin: 15px 0;
    padding-left: 0;
  }
  .contacts-text p,
  .contacts-text a {
    background: none;
  }
  .contacts-phone a {
    margin-bottom: 15px;
  }
  .contacts-email {
    display: block;
    padding-left: 0;
  }
  .contacts-form form {
    padding-bottom: 0;
    border: none;
  }
  footer {
    text-align: center;
    padding-top: 35px;
  }
  footer img {
    width: 94px;
  }
  .modal {
    padding: 30px 15px;
    border-radius: 25px;
  }
  .modal img {
    margin: -30px -15px 25px;
    width: calc(100% + 30px);
    width: -webkit-calc(100% + 30px);
    width: -moz-calc(100% + 30px);
    width: -o-calc(100% + 30px);
    width: -ms-calc(100% + 30px);
    border-radius: 25px 25px 0 0;
  }
}
